Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/texinfo.tex
config.log
config.status
configure
doc/Makefile
doc/Makefile.in
doc/shy.info
doc/stamp-vti
doc/version.texi
libtool
m4/
build-aux/compile
